#nombre {
    color: green;
    font-size: 50px;
}

#descripcion {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin-bottom: 5px;
}

#lenguajes {
    font-weight: bold;
}

td {
    border: solid 1px;
}