
.perfil{
	width: 80vw;
/*
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
*/
}
img{
	align-self: center;
	width: 25vw;
}

h1{
	color: green;
	font-size: 2em;
	transition: color 1s;
	padding-bottom: 0vh;
	margin-bottom: 0vh;
}

h1:hover{
	color: teal;
}

.info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.lenguajes{
	font-weight: bold;
}

.parrafo{
	width: 50vw;
	font-style: italic;
}

@keyframes fondo{
	0% {
		background: white;
		color:black;
	}
	100%{
		background: black;
		color:white;
	}
}
.container{
	width: 100%;
}
.row{
	margin-left: 0px;
}
